/* You can add global styles to this file, and also import other style files */
body {
  
  margin: 0px;
  padding: 0px;
}
#empPage {
  color: whitesmoke;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
  padding-left: 30%;
}
.navbar,
.container-fluid {
  background-color: darkgrey;
}

.table {
  
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #424242;
  border-style: dashed;
  border-color: black;
}
.nav-left-section{
 
  background-color: #1b3039;
  color: white;
  text-align: center;
  margin-left: 20px;
  float: left;
  height: 400px;
  width: 150px;
}
.user-right-section{
  background-color: yellow;
  margin-right: 20px;
  float: right;
  height: 400px;
  width: 200px;
}

body {
  background-color: white;
}
tr {
  color: blanchedalmond;
  text-align: center;
  font-weight: bold;
}
td {
  color: whitesmoke;
  font-weight: bold;
}
.btn-success {
  background-color: black;
  font-weight: bold;
}
.btn-info {
  background-color: darkslateblue;
  font-weight: bold;
  color: bisque;
}
.btn-danger {
  font-weight: bold;
  color: bisque;
}
.modal-content {
  background-color: darkgray;
}

.scroll {
  background-color: #fed9ff;
   width: 600px;
   height: 150px;
   overflow-x: hidden;
   overflow-y: auto;
   text-align: center;
   padding: 20px;
 }
  
 .my-card-content {
  padding: 16px;
  background-color: aquamarine;
 }
 

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
