<nav class="navbar navbar-light bg-light">
    <div class="container">
        <div class="navbar--left">
            
            <div class="dropdown navbar-brand">
                <button onclick="myFunction()" class="dropbtn">Site Navigations v</button>
                <div id="myDropdown" class="navbar-brand mx-3" class="dropdown-content">
                  <a href="#home">Home</a>
                  <a href="#about">About</a>
                  <a href="#contact">Contact</a>
                </div>
        </div>
    </div>
    <div class="navbar--right">
        <a class="navbar-brand" href="#">Contact Us</a>
    </div>
    <div>
        <a class="navbar-brand" href="#">Subscribe</a>
    </div>
    <div>
        <a class="navbar-brand" href="#">Policy</a>
    </div>
    </div>
</nav>