<div class="Scroll">  <!-- Page Scroll-->

<!-- Create the navigation bars, buttons here -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand mx-3" href="http://localhost:4200/manager-dashboard">Manager Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="http://localhost:4200/reimb-dashboard">View All Requests</a>
      <a class="nav-item nav-link" href="http://localhost:4200/view-employees">View All Employees</a>
      <a class="nav-item nav-link" href=" http://localhost:4200/resolved-reimb">Resolved Expenses</a>
      <a class="nav-item nav-link" href=" http://localhost:4200/pending-reimb">Pending Expenses</a>
      <a class="nav-item nav-link" href="http://localhost:4200/employee-info">Personal Data</a>
      <a class="nav-item nav-link" href="http://localhost:4200/employee-dashboard">Employee Dashboard</a>
    </div>
  </div>
</nav>
  <br><br>
<!-- Right Carousel  -->
<div class="right-page-carousel"  class="col-8;">
  
  <div id="carousel" class="carousel slide" class="imgDivSize col-xs-6" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../../../assets/img/mng1.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../../assets/img/mng2.jpg"  alt="Second slide">
      </div>

      <div class="carousel-item">
        <img class="d-block w-100" src="../../../../assets/img/mng3.jpg" alt="Third slide">
      </div>

      <div class="carousel-item">
        <img class="d-block w-100" src="../../../../assets/img/mng4.jpg" alt="Forth slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../../assets/img/mng5.jpg" alt="Fifth slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../../../assets/img/mng6.jpg" alt="Sixth slide">
      </div>

    </div>
  </div>
</div>

 <!-- Left Div With Bold message Text-->
 <div class="row">
  <div style="width: 600px; height: 500px;"
  class="shadow p-3 mb-5 bg-white rounded ">
  <br><br><br><br>
  <h1 style="text-align: left;"  class="bold-h1-text"> Expense Application :
  </h1>
 <br>
   <h1 class="bold-h1-text"> Build for</h1>
   <br>
   <h1 class="bold-h1-text"> exceptional</h1>
   <br>
   <h1 class="bold-h1-text"> Leaders</h1>
</div>
 
</div><!-- row-->
 
<br>
 
<div id ="mid-Page-div" class="row">
 
 <div id="mid-div-img" class ="col-6">
   <img id="sailingImg" src="../../../../assets/img/biz.jpg" alt="Business Paper" >
 </div>
 
 <div id="left-mid-page-div" class ="col-6 "
 style="width: 600px; height: 480px "
 class="shadow p-3 mb-5 bg-danger text-white rounded ">
 
 <br><br> <br><br> <br><br>
  <h1>Welcome  -   Manager dashboard</h1>
 <br><br>
 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eleifend, quam at rhoncus suscipit, felis nulla volutpat leo, id lobortis urna justo ut erat. Aenean ullamcorper fringilla elit, non cursus tortor rhoncus sed. Proin aliquet pharetra turpis, at tempus lacus consectetur ac.</p>
 </div>
</div>
 
<div class="row ">
 
 <div id="emp-div-1" class ="col-6"
 style="width: 400px; height: 200px "
 class="shadow p-3 mb-5  bg-info text-white rounded ">
 <h1>Company Information </h1>
 <ul>
   <li> Human Resources    : hr@thiswebsite.com</li>
   <li>Health Benefits     : Benefits@thiswebsite.com</li>
   <li>401K Participation  : retirement@thiswebsite.com</li>
   <li>Reimbursements      : reimb@thiswebsite.com</li>
 </ul>
 </div>
 
 <div  id="emp-div-2" class ="col-6"
 style="width: 400px; height: 200px "
 class="shadow p-3 mb-5 bg-info text-white rounded ">
 <h1>Manager Personal Information </h1>
 <ul>
   <li>Your Personal Data : <a href="http://localhost:4200/employee-info">View/Update Info</a>  </li>
   <span>
     <li>Your Reimbursements : <a href="http://localhost:4200/reimb-info">Expense</a>  </li>
   </span>
 </ul>
</div>
</div>
 
<hr>
<p>
 <span>
 <a class="btn btn-danger " data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Recent Changes</a> - </span>
 <span>
 <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Pending Information</button> - </span>
 <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">View All new Changes</button>
</p>
<div class="row">
 <div class="col">
   <div class="collapse multi-collapse" id="multiCollapseExample1">
     <div class="card card-body">
       Anim pariatur cliche reprehenderit,
       enim eiusmod high life accusamus terry richardson ad squid.
       Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
     </div>
   </div>
 </div>
 <div class="col">
   <div class="collapse multi-collapse" id="multiCollapseExample2">
     <div class="card card-body">
       Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
     </div>
   </div>
 </div>
</div>
 
<hr>
 
<div class="row ">
 <div id="emp-div-1" class ="col-6"
 style="width: 400px; height: 200px "
 class="shadow p-3 mb-5 bg-warning text-black rounded ">
 <h1>Manager Tasks  </h1>
 <ul>
   <li> Task One : <a href="http://localhost:4200/employee-info">View/Update Info</a>  </li>   
   <li> Task Two : <a href="http://localhost:4200/reimb-info">Expense</a>  </li>
 </ul>
 </div>
 
 <div  id="emp-div-2" class ="col-6"
 style="width: 400px; height: 200px "
 class="shadow p-3 mb-5 bg-warning text-black rounded ">
 
 <h1>Miscellaneous Information</h1>
 <ul>
   <li>State Labor Law : <a href="http://localhost:4200/employee-info">Proposition VII</a>  </li>
   <span>
     <li>Reimbursements Rights: <a href="http://localhost:4200/reimb-info">Expense</a>  </li>
   </span>
 </ul>
 </div>
</div>
 
</div> <!-- Scroll Div-->
 
<br><br><br><br>